**/node_modules
**/dist
**/.turbo
**/coverage
**/.vite
**/storybook-static
**/playwright-report
**/test-results
**/*.log

.git
.gitignore
.gitattributes
.github
.vscode
.idea

*.md
docs

.env
.env.*
!.env.example

# Backend code is in a separate image
apps/api
